<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-6" *ngIf="tweetsStatistics">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Tweets Coletados
                  </h5>
                  <span class="h2 font-weight-bold mb-0">{{
                    tweetsStatistics.totalTweets
                  }}</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-danger text-white rounded-circle shadow"
                  >
                    <i class="fas fa-hashtag"></i>
                  </div>
                </div>
              </div>
              <div class="aditional-info-cards">
                <p class="mt-3 mb-0 mr-2 text-muted text-sm">
                  <span class="text-success mr-2">{{
                    tweetsStatistics.totalBhTweets
                  }}</span>
                  <span class="text-nowrap">{{
                    mapLocalitiesName[eLocalities.BELO_HORIZONTE]
                  }}</span>
                </p>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2">{{
                    tweetsStatistics.totalMvTweets
                  }}</span>
                  <span class="text-nowrap">{{
                    mapLocalitiesName[eLocalities.MONTEVIDEO]
                  }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Período
                  </h5>
                  <span class="h2 font-weight-bold mb-0">2022</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-warning text-white rounded-circle shadow"
                  >
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap"
                  >de {{ rangeCollection.firstCollectionDay }} à
                  {{ rangeCollection.lastCollectionDay }}</span
                >
              </p>
            </div>
          </div>
        </div>
        <!--<div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Sales
                  </h5>
                  <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-yellow text-white rounded-circle shadow"
                  >
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"
                  ><i class="fas fa-arrow-down"></i> 1.10%</span
                >
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Performance
                  </h5>
                  <span class="h2 font-weight-bold mb-0">49,65%</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-info text-white rounded-circle shadow"
                  >
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"
                  ><i class="fas fa-arrow-up"></i> 12%</span
                >
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 mb-5">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">
                Palavras dos Tweets
              </h6>
              <h2 class="text-white mb-0">Top 20 com maior Incidência</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li
                  class="nav-item mr-2 mr-md-0"
                  data-toggle="chart"
                  data-target="#chart-words"
                  (click)="
                    changeLocalityWordsFrequencyTweetsChart(
                      eLocalities.BELO_HORIZONTE
                    )
                  "
                >
                  <a
                    href="javascript:void(0)"
                    class="nav-link py-2 px-3"
                    [ngClass]="{ active: clickedLocalityBhTweets === true }"
                    data-toggle="tab"
                    (click)="
                      clickedLocalityBhTweets = true;
                      clickedLocalityMvTweets = false
                    "
                  >
                    <span class="d-none d-md-block">{{
                      mapLocalitiesName[eLocalities.BELO_HORIZONTE]
                    }}</span>
                    <span class="d-md-none">{{
                      mapLocalitiesInitials[eLocalities.BELO_HORIZONTE]
                    }}</span>
                  </a>
                </li>
                <li
                  class="nav-item"
                  data-toggle="chart"
                  data-target="#chart-words"
                  (click)="
                    changeLocalityWordsFrequencyTweetsChart(
                      eLocalities.MONTEVIDEO
                    )
                  "
                >
                  <a
                    href="javascript:void(0)"
                    class="nav-link py-2 px-3"
                    [ngClass]="{ active: clickedLocalityMvTweets === true }"
                    data-toggle="tab"
                    (click)="
                      clickedLocalityBhTweets = false;
                      clickedLocalityMvTweets = true
                    "
                  >
                    <span class="d-none d-md-block">{{
                      mapLocalitiesName[eLocalities.MONTEVIDEO]
                    }}</span>
                    <span class="d-md-none">{{
                      mapLocalitiesInitials[eLocalities.MONTEVIDEO]
                    }}</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col">
              <ng-select
                [items]="journalists$ | async"
                bindLabel="name"
                placeholder="Selecionar um Jornalista"
                autofocus
                (change)="changeJournalistWordsFrequencyTweetsChart($event)"
                bindValue="id"
                [(ngModel)]="filtersIncidenceOfWordsPerJournalists.journalistId"
              >
              </ng-select>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-words" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xl-12 mb-5">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
              <h2 class="text-white mb-0">Sales value</h2>
            </div> -->
  <!-- <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                    <span class="d-none d-md-block">Month</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
                <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                    <span class="d-none d-md-block">Week</span>
                    <span class="d-md-none">W</span>
                  </a>
                </li>
              </ul>
            </div> -->
  <!-- </div>
        </div>
        <div class="card-body"> -->
  <!-- Chart -->
  <!-- <div class="chart"> -->
  <!-- Chart wrapper -->
  <!-- <canvas id="chart-sales" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-xl-12 mb-5">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Coleta</h6>
              <h2 class="mb-0">Número de tweets coletados por Mês</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li
                  class="nav-item mr-2 mr-md-0"
                  data-toggle="chart"
                  data-target="#chart-words"
                  (click)="
                    changeLocalityTweetsPerMonthChart(
                      eLocalities.BELO_HORIZONTE
                    )
                  "
                >
                  <a
                    href="javascript:void(0)"
                    class="nav-link py-2 px-3"
                    [ngClass]="{
                      active: clickedLocalityBhTweetsPerMonth === true
                    }"
                    data-toggle="tab"
                    (click)="
                      clickedLocalityBhTweetsPerMonth = true;
                      clickedLocalityMvTweetsPerMonth = false
                    "
                  >
                    <span class="d-none d-md-block">{{
                      mapLocalitiesName[eLocalities.BELO_HORIZONTE]
                    }}</span>
                    <span class="d-md-none">{{
                      mapLocalitiesInitials[eLocalities.BELO_HORIZONTE]
                    }}</span>
                  </a>
                </li>
                <li
                  class="nav-item"
                  data-toggle="chart"
                  data-target="#chart-words"
                  (click)="
                    changeLocalityTweetsPerMonthChart(eLocalities.MONTEVIDEO)
                  "
                >
                  <a
                    href="javascript:void(0)"
                    class="nav-link py-2 px-3"
                    [ngClass]="{
                      active: clickedLocalityMvTweetsPerMonth === true
                    }"
                    data-toggle="tab"
                    (click)="
                      clickedLocalityBhTweetsPerMonth = false;
                      clickedLocalityMvTweetsPerMonth = true
                    "
                  >
                    <span class="d-none d-md-block">{{
                      mapLocalitiesName[eLocalities.MONTEVIDEO]
                    }}</span>
                    <span class="d-md-none">{{
                      mapLocalitiesInitials[eLocalities.MONTEVIDEO]
                    }}</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col">
              <ng-select
                [items]="journalistsTweetsPerMonth$ | async"
                bindLabel="name"
                placeholder="Selecionar um Jornalista"
                autofocus
                (change)="changeJournalistTweetsPerMonthChart($event)"
                bindValue="id"
                [(ngModel)]="filtersTweetsPerMonth.journalistId"
              >
              </ng-select>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-tweets-per-month" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 mb-5">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">
                Palavras dos Replys
              </h6>
              <h2 class="mb-0">Top 20 com maior Incidência</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li
                  class="nav-item mr-2 mr-md-0"
                  data-toggle="chart"
                  data-target="#chart-words-replys"
                  (click)="
                    changeLocalityWordsFrequencyReplysChart(
                      eLocalities.BELO_HORIZONTE
                    )
                  "
                >
                  <a
                    href="javascript:void(0)"
                    class="nav-link py-2 px-3"
                    [ngClass]="{ active: clickedLocalityBhReplys === true }"
                    data-toggle="tab"
                    (click)="
                      clickedLocalityBhReplys = true;
                      clickedLocalityMvReplys = false
                    "
                  >
                    <span class="d-none d-md-block">{{
                      mapLocalitiesName[eLocalities.BELO_HORIZONTE]
                    }}</span>
                    <span class="d-md-none">{{
                      mapLocalitiesInitials[eLocalities.BELO_HORIZONTE]
                    }}</span>
                  </a>
                </li>
                <li
                  class="nav-item"
                  data-toggle="chart"
                  data-target="#chart-words-replys"
                  (click)="
                    changeLocalityWordsFrequencyReplysChart(
                      eLocalities.MONTEVIDEO
                    )
                  "
                >
                  <a
                    href="javascript:void(0)"
                    class="nav-link py-2 px-3"
                    [ngClass]="{ active: clickedLocalityMvReplys === true }"
                    data-toggle="tab"
                    (click)="
                      clickedLocalityBhReplys = false;
                      clickedLocalityMvReplys = true
                    "
                  >
                    <span class="d-none d-md-block">{{
                      mapLocalitiesName[eLocalities.MONTEVIDEO]
                    }}</span>
                    <span class="d-md-none">{{
                      mapLocalitiesInitials[eLocalities.MONTEVIDEO]
                    }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-words-replys" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 mb-5">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">
                Palavras dos Likes
              </h6>
              <h2 class="mb-0">Top 20 com maior Incidência</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li
                  class="nav-item mr-2 mr-md-0"
                  data-toggle="chart"
                  data-target="#chart-words-likes"
                  (click)="
                    changeLocalityWordsFrequencyLikesChart(
                      eLocalities.BELO_HORIZONTE
                    )
                  "
                >
                  <a
                    href="javascript:void(0)"
                    class="nav-link py-2 px-3"
                    [ngClass]="{ active: clickedLocalityBhLikes === true }"
                    data-toggle="tab"
                    (click)="
                      clickedLocalityBhLikes = true;
                      clickedLocalityMvLikes = false
                    "
                  >
                    <span class="d-none d-md-block">{{
                      mapLocalitiesName[eLocalities.BELO_HORIZONTE]
                    }}</span>
                    <span class="d-md-none">{{
                      mapLocalitiesInitials[eLocalities.BELO_HORIZONTE]
                    }}</span>
                  </a>
                </li>
                <li
                  class="nav-item"
                  data-toggle="chart"
                  data-target="#chart-words-likes"
                  (click)="
                    changeLocalityWordsFrequencyLikesChart(
                      eLocalities.MONTEVIDEO
                    )
                  "
                >
                  <a
                    href="javascript:void(0)"
                    class="nav-link py-2 px-3"
                    [ngClass]="{ active: clickedLocalityMvLikes === true }"
                    data-toggle="tab"
                    (click)="
                      clickedLocalityBhLikes = false;
                      clickedLocalityMvLikes = true
                    "
                  >
                    <span class="d-none d-md-block">{{
                      mapLocalitiesName[eLocalities.MONTEVIDEO]
                    }}</span>
                    <span class="d-md-none">{{
                      mapLocalitiesInitials[eLocalities.MONTEVIDEO]
                    }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-words-likes" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 mb-5">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Jornalistas</h6>
              <h2 class="mb-0">Número de Jornalistas por Localidade</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-number-journalists" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 mb-5">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Jornalistas</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Usuário (@)</th>
                <th scope="col">Cidade</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let journalist of journalists">
                <td>{{ journalist.name }}</td>
                <td>{{ journalist.user }}</td>
                <th>{{ mapLocalitiesName[journalist.locality_id] }}</th>
              </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-between p-2">
            <ngb-pagination
              [collectionSize]="collectionSizeTableJournalists"
              [(page)]="pageTableJournalists"
              [pageSize]="pageSizeTableJournalists"
              (pageChange)="refreshJournalists()"
              [maxSize]="maxSizePaginationOptions"
              [boundaryLinks]="true"
            >
            </ngb-pagination>

            <select
              style="width: auto"
              [(ngModel)]="pageSizeTableJournalists"
              (ngModelChange)="refreshJournalists()"
            >
              <option [ngValue]="5">5 itens por página</option>
              <option [ngValue]="10">10 itens por página</option>
              <option [ngValue]="20">20 itens por página</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-xl-6">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
              <h2 class="mb-0">Total orders</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Palavras</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Palavra</th>
                <th scope="col">Incidência</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let word of words">
                <td>{{ word.word }}</td>
                <th>{{ word.count }}</th>
              </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-between p-2">
            <ngb-pagination
              [collectionSize]="collectionSizeTableWords"
              [(page)]="pageTableWords"
              [pageSize]="pageSizeTableWords"
              (pageChange)="refreshWords()"
              [maxSize]="maxSizePaginationOptions"
              [boundaryLinks]="true"
            >
            </ngb-pagination>

            <select
              style="width: auto"
              [(ngModel)]="pageSizeTableWords"
              (ngModelChange)="refreshWords()"
            >
              <option [ngValue]="5">5 itens por página</option>
              <option [ngValue]="10">10 itens por página</option>
              <option [ngValue]="20">20 itens por página</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
